<p>roles works!</p>

<div class="row">
    <div class="col-3">
        <p>{{firstname}}</p>
    </div>
    <div class="col-3">
        <p>{{version}}</p>
    </div>
    <div class="col-3">
        <p>{{currentDate}}</p>
    </div>
    <div class="col-3">
        <p>{{selectedState}}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <input type="text" [value]="firstname" class="form-control"/>
    </div>
    <div class="col-3">
        <input type="text" [(ngModel)]="firstname"/>
    </div>
    <div class="col-3">
        <input [type]="inputType"/>
    </div>
    <div class="col-3">
        <select [(ngModel)]="selectedState">
            <option value="a">a</option>
            <option value="b">b</option>
            <option value="c">c</option>
        </select>
    </div>
</div>