<div class="row">
  @if (isLoading) {
    <div class="col-12">
      <div class="spinner-border" role="status"></div>
    </div>
  } @else {
    @for (item of designationList; track $index) {
    <div class="col-3">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{item.designation}}</h5>

          <a href="#" class="card-link">Edit</a>
          <a href="#" class="card-link">Delete</a>
        </div>
      </div>
    </div>
    }
  }

</div>